- if object != current_user
  - if current_user.following?(object)
    = link_to 'Unfollow', followship_path(object), method: :delete
  - else
    = link_to 'Follow', followships_path(following_id: object), method: :post