- if object.is_liked?(current_user)
  = link_to 'Unlike', unlike_restaurant_path(object), method: :post, class: "btn btn-danger"
- else
  = link_to 'Like', like_restaurant_path(object), method: :post, class: "btn btn-warning"