@import "bootstrap-sprockets";
@import "bootstrap";

.edit_user{
  img {
    width: 50px;
    margin: 10px;
  }
}

.my-restaurant {
  display: inline-block;
  text-align: center;
  padding: 7px 7px 0 7px;
  div {
    height: 60px;
  }
  img {
    max-height: 100%;
  }
  &:hover {
    background-color: #eee;
  }
}

.nav-pills-center {
  text-align: center;
  li {
    float: none;
    display: inline-block;
  }
}

.ranking-item {
  margin-bottom: 15px;
}

.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
  img {
    max-height: 180px;
    width: 100%;
  }
  .caption {
    padding: 10px;
  }
}

.user-edit {
  margin-bottom: 30px;
}

.user-item {
  margin-bottom: 15px;
  img {
    width: 128px;
    height: 128px;
  }
}